section h1{
    text-align: center;
    margin-top: 15px;
    color: blueviolet;
}
.div{
    width:100vh;
    margin: 100px auto;
    display: flex;
    height: 50vh;
    border-width: 3px;
}
.div1{
    width:250px;
    border: 2px solid black;
    height:300px;
    border-radius: 15px;
    line-height: 15px;
    margin-right: 35px;
    cursor: pointer;
    background-color:blanchedalmond ;

}
.div2{
    width:250px;
    border: 2px solid red;
    height:300px;
    border-radius: 15px;
    line-height: 15px;
    margin-right: 35px;
    cursor: pointer;
    border-width: 3px;
}
.h2{
    text-align: center;
}
.s1{
    text-align: left;
    justify-content: right;
}
.s{
    width:20px;
    color:black;
    font-weight: 700;
    font-size: larger;
    display: block;
    margin-top: 2px;
    font-size: 26px;
}
.sdiv{
    font-weight: 500;
    margin-left: 20px;

}
.b1{
    margin-left: 15px;
    width:150px;
    margin-top: 5px;
    font-weight: bold;
    color:white;
    background-color: blueviolet;
    border-radius: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: blueviolet ;
}
.b1:hover{
    background-color: blue;
    color:whitesmoke;
    font-weight: bold;
}
.div2 span{
    text-align: right;
}